<h2>Welcome back, <%= @user.username %>!</h2>
<a href='/logout' class="logout_link route_link">Logout</a>
<h3>Your Uploaded Recipes:</h3>

<ul>
<% @recipes.each do |recipe| %>
  <li><a href="<%= recipe.filepath %>" class="recipe_link" target="_blank"><%= recipe.name %></a><a href="/deleterecipe/<%=recipe.id%>" class="delete_recipe"><h6>Delete '<%= recipe.name %>'</h6></a></li>
<% end %>
</ul><br>

<div class="upload">
<a href='/uploadrecipe' class="upload_link command_link">Click here to upload a recipe file</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/deleteaccount/<%=@user.id%>" class="delete_account"><h6 class="command_link">Click here to delete your account</h6></a>
